body{
    background: #eee;
    font-family: 'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}

.foto {
    border-radius: 50px;
}

#titulo, .subtitulo, .post-subtitulo {
    color: #505050;
}

a{
    text-decoration: none;
    color: #000;

}


.post-subtitulo{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #eee;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post-image {
    margin-bottom: 15px;
    width: 100%;
}

.text-list {
    list-style-type: none;
    padding-left: 15px;
}